# Every change requires review from the repo owner.
# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-security/customizing-your-repository/about-code-owners
*   @CloudCrewAtWork
